<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UrlServiceLayer" value="https://ecs-dbs-vistony:50000/b1s/v1/" />
    <add key="CompanyName" value="B1H_VIST_PE_QA" />
    <add key="UserName" value="manager" />
    <add key="UserPassword" value="7777" />
    <add key="UserHana" value="VIS1API" />
    <add key="PasswordHana" value="Extr3m4S3cur1ty$2022$" />
    <add key="ServerHana" value="ecs-dbs-vistony:30013" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <add key="Zebra.Api" value="http://192.168.254.20:66/vs1.0/printer" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>